body, ul, li, p {
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
  font-family: verdana;
  list-style: none;
}

a{
  text-decoration: none;
  color:white;
}
body { 
  background: linear-gradient(90deg, #d8d8d8, #c6cef7);
}

img {
  max-width:100%;
  display: block;
}

header i {
  font-size: xx-large;
}

.header {
  padding: 15px;
  background: black;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
}

.intro {
  background: url('./imgskt/skt1.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 20px ;
  justify-content: space-between;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 2.5em;
}

.banner {
  text-align: center;
  background: black;
  font-size:30px;
  text-decoration:none;
  color: white;
  justify-content: space-between;
}
  

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px 20px;
}

.menu i {
  margin-left: 20px;
}

.menubarra {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.menubarra li a {
  display: block;
  padding: 15px 20px;
}

.barra {
  background: black;
}

.filtro li {
  max-width: 960px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background: #0066A2;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0%;
}

.flt {
  background: #0066A2;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
}


.itens {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.itens > div {
  flex: 1 1 200px;
  margin: 10px;
  padding-top: 30px;
}

.itens p {
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap ;
  font-size: 15px;
  margin: 0 auto;
  font-family: arial;
}

.itens button {
  background: #0066A2;
  color: #f3f0f0;
  border-style: outset;
  border-color: #0066A2;
  height: 30px;
  width: 80px;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
  margin: -30px 0 auto;
  float: right;
  cursor: pointer;
}

.bf {
  margin: 0 auto;
  content: '';
  width: 600px;
  height: 2px;
  background: #0066a2;
  margin-top: 100px;
}

.bf2 {
  margin: 0 auto;
  content: '';
  width: 350px;
  height: 2px;
  background: #0066a2;
  margin-top: 90px;
}

.sobre img {
  max-width: 250px;
  padding: 20px 0px;
}

.sobre {
  flex: 1 1 200px;
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.sobre li {
  padding: 5px 0;
}


.sobre-item {
  clear: both;
  margin: 30px auto;
}

}
.sobre-item img {
  display: block;
  float: left;
  margin: 0 15px;
}

.sobre-item > div { 
  float: left;
  margin: 0 auto ;
  padding: 10px 0;
}

.sobre-item h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.sobre-item p {
  font-size: 0.9em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom:30px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}


.acompanhe {
  text-align: center;
  margin: 0 auto;
  background: #9aa3a19d;
  display: flex;
  flex-wrap: wrap;
}

.acompanhe-container {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.acompanhe-info {
  margin: 0 auto;
  margin:10px 10px;
  display: flex;
  flex-wrap: wrap;
 }

 .acompanhe h3 {
   padding: 0 10px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
 }


form {
  padding: 10px 30px;
  margin: 0 auto;
}

form label {
  margin: 0 auto;
  display: none;
}

.footer {
  background: black;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
}

.footer p {
  text-align: center;
  color: lightgray;
}